@page "/Sign-On"
@using Microsoft.EntityFrameworkCore;
@inject Context dbContext

@code {
    // Variables for search
    private string searchTerm = ""; // The search term that is queried
    private Student? foundStudent; // Student object
    private bool isLoading = false; // Checks if the content is loading
    private bool searchPerformed = false; // Checks if the search has been started

    // Variables for initial drop down
    private string selectedInitials;
    private string selectedSessionType;
    private List<string> initials;


    private async Task HandleSearch()
    {
        isLoading = true;
        
        // Gets student, course and instructor
        foundStudent = await dbContext.Students
            .Include(s => s.Course)
            .Include(s => s.Instructor)
            .FirstOrDefaultAsync(s => s.FirstName == searchTerm || s.LastName == searchTerm);
        
        //Gets employee initials
        initials = await dbContext.HubEmployees
            .Select(e => e.Initials)
            .Distinct()
            .ToListAsync();

        isLoading = false;
        searchPerformed = true;

    }

    private async Task HandleSignIn()
    {
        // Create a new HubSession record
        var newSession = new HubSession
        {
            TimeIn = DateTime.Now.TimeOfDay, // Set the current time as TimeIn
            StudentID = foundStudent.StudentID, // Set StudentID based on the found student
            EmployeeID = dbContext.HubEmployees.FirstOrDefault(e => e.Initials == selectedInitials)?.EmployeeID ?? 0 // Set EmployeeID based on the selected initials
        };

        // Add the new session to the database
        dbContext.HubSessions.Add(newSession);
        await dbContext.SaveChangesAsync();

        // Clears the selected values and search term
        selectedInitials = "";
        selectedSessionType = "";
        searchTerm = "";

    }


}


<PageTitle>Sign-On 😀</PageTitle>

<div class="container">
    <form @onsubmit="HandleSearch">
        <div class="form-group pb-3 pt-5">
            <div class="input-group mx-auto">
                <input type="search" class="form-control shadow-none" placeholder="Search for Student"
                    @bind="searchTerm" autofocus />
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-default shadow-none my-auto">
                        <img src="search-icon.png" class="search-icon">
                    </button>
                </span>
            </div>
        </div>
    </form>
    @if (isLoading)
    {
        <div class="form-group text-center pt-5">
            <img src = "loading.gif">
        </div>
    }
    else if (searchPerformed && foundStudent != null)
    {
        <hr />
        <div class="row pt-3">
            <div class="col-md-6 mx-auto">
                <div class="form-group">
                    <label>First Name:</label>
                    <input type="text" class="form-control" readonly value="@foundStudent.FirstName" />
                </div>
            </div>
            <div class="col-md-6 mx-auto">
                <div class "form-group">
                    <label>Last Name:</label>
                    <input type="text" class="form-control" readonly value="@foundStudent.LastName" />
                </div>
            </div>
        </div>
        <div class="row py-3">
            <div class="col-md-6 mx-auto">
                <div class="form-group">
                    <label>Course:</label>
                    <input type="text" class="form-control" readonly value="@foundStudent.Course.CourseName" />
                </div>
            </div>
            <div class="col-md-6 mx-auto">
                <div class="form-group">
                    <label>Instructor:</label>
                    <input type="text" class="form-control" readonly
                        value="@foundStudent.Instructor.FirstName @foundStudent.Instructor.LastName" />
                </div>
            </div>
        </div>
        <hr />
        <div class="row pt-3">
            <div class="col-md-6 mx-auto">
                <div class="form-group">
                    <label>Initials:</label>
                    <select class="form-control" @bind="selectedInitials">
                        <option value="">Select Initials</option>
                        @foreach (var initial in initials)
                        {
                            <option value="@initial">@initial</option>
                        }
                    </select>
                </div>
            </div>
            <div class="col-md-6 mx-auto">
                <div class="form-group">
                    <label>Session Type:</label>
                    <select class="form-control" @bind="selectedSessionType">
                        <option value="">Select Session Type</option>
                        <option value="Tutor">Tutor</option>
                        <option value="Tester">Tester</option>
                    </select>
                </div>
            </div>
        </div>
     <div class="row pt-5">
        <div class="col-md-12 mx-auto text-center"> 
            <button class="btn btn-primary btn-block w-100 btn-sign-on" @onclick="HandleSignIn">Sign-In</button>
        </div>
    </div>
    }
    else if (searchPerformed && foundStudent == null)
    {
        <div class="form-group text-center pt-5">
            <label>'@searchTerm' Not Found</label>
        </div>
    }
</div>

