@page "/View"
@using Microsoft.EntityFrameworkCore;
@inject Context dbContext

@code {
List<HubSession> hubSessionsWithRelatedData;
    int activeButtonIndex = 0;
    bool isEditing = false;
    HashSet<int> hubSessionsBeingEdited = new HashSet<int>();

    private void LoadHubSessionsWithRelatedData()
    {
        hubSessionsWithRelatedData = dbContext.HubSessions
            .Include(h => h.Student)
                .ThenInclude(s => s.Course)
            .Include(h => h.Student)
                .ThenInclude(s => s.Instructor)
            .Include(h => h.HubEmployee)
            .ToList();
    }

    protected override void OnInitialized()
    {
        LoadHubSessionsWithRelatedData();
    }

    void SetActiveButton(int index)
    {
        if (index == 2)
        {
            isEditing = true;
        }
        else
        {
            isEditing = false;
        }

        activeButtonIndex = index;
    }

    void SaveHubSession(HubSession hubSession)
    {
        dbContext.Update(hubSession);
        dbContext.SaveChanges();
        isEditing = false;
    }
}


<PageTitle>View Students 😀</PageTitle>

<div class="d-flex justify-content-between pb-4">
    <div class="button-container">
        <button class="btn btn-primary @(activeButtonIndex == 0 ? "active" : "inactive")" @onclick="() => SetActiveButton(0)">View all</button>
        <button class="btn btn-primary @(activeButtonIndex == 1 ? "active" : "inactive")" @onclick="() => SetActiveButton(1)">Signed-In</button>
    </div>
    <div>
        <button class="btn btn-primary @(activeButtonIndex == 2 ? "active" : "inactive")" @onclick="() => SetActiveButton(2)">Edit</button>
    </div>
</div>

<table class="table">
    <thead>
       <tr class="table-header">
            <th>Date</th>
            <th>Count</th>
            <th>Name</th>
            <th>ID</th>
            <th>Course</th>
            <th>Instructor</th>
            <th>Time In</th>
            <th>Time Out</th>
            <th>Initial</th>
            <th>Session</th>
            <th>Total Time</th>
            @if (isEditing)
            {
                <th>Edit</th>
            }
        </tr>
    </thead>
    <tbody>
    @foreach (var hubSession in hubSessionsWithRelatedData)
    {
        <tr>
            <td>@DateTime.Now.ToString("MM/dd/yyyy")</td>
            <td>@hubSession.SessionID</td>
            <td>
                @hubSession.Student.FirstName @hubSession.Student.LastName
            </td>
            <td>@hubSession.Student.StudentID</td>
            <td>@hubSession.Student.Course.CourseName</td>
            <td>@hubSession.Student.Instructor.FirstName @hubSession.Student.Instructor.LastName</td>
            <td>@hubSession.TimeIn</td>
            <td>@hubSession.TimeOut</td>
            <td>@hubSession.HubEmployee.Initials</td>
            <td>@hubSession.SessionType</td>
            <td>@(hubSession.TimeOut - hubSession.TimeIn)</td>
            @if (isEditing)
            {
                <td>
                    <button class="btn btn-primary" @onclick="() => SaveHubSession(hubSession)">Save</button>
                </td>
            }
    </tr>
    }

    </tbody>
</table>


