@page "/View"
@using Data 

@inject Context dbContext


@functions {
    int activeButtonIndex = 0; // Initialize the active button index
    
    void SetActiveButton(int index)
    {
        activeButtonIndex = index;
    }

}

<PageTitle>View 😀</PageTitle>

<div class="d-flex justify-content-between pb-4">
    <div class="button-container">
        <button class=" btn btn-primary @(activeButtonIndex == 0 ? "active" : "inactive")" @onclick="() => SetActiveButton(0)">View all</button>
        <button class=" btn btn-primary @(activeButtonIndex == 1 ? "active" : "inactive")" @onclick="() => SetActiveButton(1)">Signed-In</button>
    </div>
    <div>
        <button class=" btn btn-primary @(activeButtonIndex == 2 ? "active" : "inactive")" @onclick="() => SetActiveButton(2)">Edit</button>
    </div>
</div>



<table class="table">
    <thead>
        <tr class="table-header">
            <th>ID</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in dbContext.Students)
        {
            <tr>
                <td>@student.StudentID</td>
                <td>@student.FirstName @student.LastName</td>
            </tr>
        }
    </tbody>
</table>


