@page "/View"
@using Microsoft.EntityFrameworkCore;
@inject Context dbContext

@code {
    List<Student>? studentsWithRelatedData;
    int activeButtonIndex = 0;
    bool isEditing = false;
    HashSet<int> studentsBeingEdited = new HashSet<int>();

    private void LoadStudentsWithRelatedData()
    {
        studentsWithRelatedData = dbContext.Students
            .Include(s => s.Course)
            .Include(s => s.Instructor)
            .ToList();
    }

    protected override void OnInitialized()
    {
        LoadStudentsWithRelatedData();
    }

    
    void SetActiveButton(int index)
    {
        activeButtonIndex = index;

        if(index == 2){
            isEditing = true;
        }
    }

     void SaveStudent(Student student)
    {
        dbContext.Update(student);
        dbContext.SaveChanges();
    }

}

<PageTitle>View Students</PageTitle>

<div class="d-flex justify-content-between pb-4">
    <div class="button-container">
        <button class="btn btn-primary @(activeButtonIndex == 0 ? "active" : "inactive")" @onclick="() => SetActiveButton(0)">View all</button>
        <button class="btn btn-primary @(activeButtonIndex == 1 ? "active" : "inactive")" @onclick="() => SetActiveButton(1)">Signed-In</button>
    </div>
    <div>
        <button class="btn btn-primary @(activeButtonIndex == 2 ? "active" : "inactive")" @onclick="() => SetActiveButton(2)">Edit</button>
    </div>
</div>

<table class="table">
    <thead>
        <tr class="table-header">
            <th>ID</th>
            <th>Name</th>
            <th>Course</th>
            <th>Instructor</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in studentsWithRelatedData)
        {
            <tr>
                <td>@student.StudentID</td>
                <td>@if(isEditing)
                    {
                        <input type="text" bind="@student.FirstName" />
                        <input type="text" bind="@student.LastName" />
                    }
                    else
                    {
                        @student.FirstName @student.LastName
                    }</td>
                <td>@if(isEditing && student.Course != null)
                    {
                        <input type="text" bind="@student.Course.CourseName" />
                    }
                    else
                    {
                        @student.Course?.CourseName
                    }</td>
                <td>@if(isEditing && student.Instructor != null)
                    {
                        <input type="text" bind="@student.Instructor.FirstName" />
                        <input type="text" bind="@student.Instructor.LastName" />
                    }
                    else
                    {
                        @student.Instructor?.FirstName @student.Instructor?.LastName
                    }
                </td>
                @if(isEditing)
                {
                    <td>
                        <button @onclick="() => SaveStudent(student)">Save</button>
                    </td>
                }

            </tr>
        }
    </tbody>
</table>


